//Force BG to be background color

.App {
  background-color: $color-background;
}

.content {
  margin-top: 40px;
  background-color: $color-background;
}

//Shop "tag" paragraph
.tag {
  text-align: center;
}