.splash {
  display: block;
  position: relative;
  margin-bottom: 3vh;
  background-image: radial-gradient($color-cool-light, $color-cool-dark);
  color: $color-background;
  height: 60vh;
  overflow: hidden;

  h2 {
      margin: 0;
      padding: 0;
      line-height: 40px;
      text-align: right;
  }
}


//Newsletter

.newsletter {  

  * {
      background-color: $color-warm;
      color: $color-background;
      width: 95%;
      margin: 2.5%;
      padding: 1vh;
      border-radius: 10px;
  }
}

//Featured section

.featured {
  margin-top: 2vh;

  h3 {
      text-align: center;
  }

  .card {
      margin: 10px;
      background-color: $color-white;
      border: none;
      opacity: 0.7;
      align-items: center;
      height: 30vh;
      width: 100%;
  
      &:hover {
          opacity: 1.0;
      }
  
      .card-title {
          text-align: center;
          margin-top: 2.5vh;
          font: $font-text-bold;
          color: $color-text;
      }
  
      .card-img-top {
          border-radius: 0%;
          width: 100%;
          height: 50%;
          object-fit: cover;
      }
  
      .card-text {
          font: $font-text-small;
          object-fit: cover;
          align-content: center;
      }

      .card-body {
          padding: 0 2vh;
      }
      
      .bottom {
          color: $color-cool-dark;
          font: $font-text-small;
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translate(-50%, -50%);
          text-align: center;
          margin-bottom: 10px;
      }
  }
}

//Division about sections

.sections {
  color: $color-cool;

  h3 {
      text-align: center;
  }
}