.footer {
  padding: 3vh;

  * a {
      color: $color-warm-dark;
      p {
          font: $font-text-small;
      }
      h6 {
          display: inline;
      }
  }

  background-image: linear-gradient(to bottom, $color-cool-dark, $color-cool-light);
  color: $color-warm-dark;

  * .socials, .site-links {
      background-color: $color-cool-light;
      margin: 5vh;
      padding: 3vh 3vh 5vh 3vh;
      border-radius: 1vh;
      * {
          text-align: center;
      }
  }

  .site-links {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;

      .links {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          color: $color-warm-dark;
          margin-bottom: 5vh;
      }
  }
  
  .footer-title {
      font: $font-text-bold;
      margin: 3vh;
  }

  .socials {

      .social-icons {
          display: flex;
          justify-content: space-around;
          padding: 0 5vh;
      }

  }
}