* h1 {
  font: 500 30px/1.5 "Roboto", sans-serif;
}
* h2 {
  font: 700 45px/2 "Roboto", sans-serif;
  font-style: oblique;
  margin: 0;
}
* h3 {
  font: 700 25px/1.2 "Mukta", sans-serif;
  margin: 0 0 3vh 0;
}
* p {
  font: 200 20px/1.2 "Mukta", sans-serif;
  color: #40373a;
}
* a {
  text-decoration: none;
  font: 400 20px/1.2 "Mukta", sans-serif;
  color: #dd5964;
  transition: color 0.2s ease-in-out;
}
* a:hover {
  color: #f68e86;
  transition: color 0.2s ease-in-out;
}
* .tag {
  text-align: center;
}
* .card {
  margin: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 1vh;
  opacity: 70%;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
  padding: 0;
  overflow: hidden;
}
* .card:hover {
  opacity: 100%;
  transition: opacity 0.2s ease-in-out;
}
* .card .card-title {
  text-align: center;
  margin-top: 3vh;
  font: 700 25px/1.2 "Mukta", sans-serif;
}
* .card .card-img-top {
  border-radius: 50%;
  width: 70%;
}
* .card .card-text {
  font: 300 16px/1.2 "Mukta", sans-serif;
  margin: 0.5vh;
}
* .header {
  display: block;
  position: relative;
  margin-bottom: 3vh;
  color: #fcedc9;
  min-height: 20vh;
}
* .header h2 {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 25%;
}
* .loading {
  position: relative;
}
* .loading .FadingBalls_fading-balls__1483H {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
* .loading p {
  padding-top: 8vh;
  font: 400 20px/1.2 "Mukta", sans-serif;
  color: #f68e86;
}

.App {
  background-color: #fcedc9;
  font: 300 20px/1.2 "Mukta", sans-serif;
  color: #dd5964;
}

.content {
  margin-top: 40px;
  background-color: #fcedc9;
}

.sidebar {
  box-sizing: border-box;
  border-top: 40px solid #319ea2;
  padding-top: 6vh;
}
.sidebar .nav-link {
  text-decoration: none;
  font: 400 20px/1.2 "Mukta", sans-serif;
  color: #fcedc9;
  background-color: #dd5964;
  padding: 2vh 8vh 2vh 3vh;
  filter: brightness(100%);
  transition: filter 0.2s ease-in-out;
}
.sidebar .nav-link:hover {
  filter: brightness(90%);
  transition: filter 0.2s ease-in-out;
}
.sidebar .nav-link p {
  text-decoration: none;
  font: 700 25px/1.2 "Mukta", sans-serif;
  color: #fcedc9;
  margin: 0;
}

.sidebarButton {
  position: fixed;
  display: absolute;
  width: 36px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: #319ea2;
  border: none;
  padding: 0;
  color: #40373a;
  z-index: 4;
}
.sidebarButton * {
  color: #fff;
}

.toolbar {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 4;
  padding-left: 36px;
  padding-right: 3%;
  background-color: #319ea2;
  height: 40px;
  width: 100%;
  color: #fff;
  font-size: 22px;
  text-align: right;
}
.toolbar * {
  display: inline;
}

.cart-wrapper {
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 4;
  background-color: #88d5cd;
  width: 40vh;
}
.cart-wrapper .cart-body {
  background-color: #fcedc9;
  color: #40373a;
  margin: 1vh;
  padding: 1vh;
}
.cart-wrapper .cart-body .cart-title {
  text-align: left;
  justify-content: space-between;
}
.cart-wrapper .cart-body .cart-quantity {
  text-align: center;
  border-left: 1px solid #88d5cd;
}
.cart-wrapper .cart-body .cart-quantity form svg {
  margin: 0 5px;
  color: #dd5964;
}
.cart-wrapper .cart-body .cart-quantity form input {
  width: 50px;
}
.cart-wrapper .cart-body .cart-summary {
  font: 300 16px/1.2 "Mukta", sans-serif;
  margin-top: 5px;
}
.cart-wrapper .cart-body p {
  margin: 0;
}

.splash {
  display: block;
  position: relative;
  margin-bottom: 3vh;
  background-image: radial-gradient(#88d5cd, #319ea2);
  color: #fcedc9;
  min-height: 60vh;
}
.splash h2 {
  margin: 0;
  padding: 0;
  line-height: 40px;
  text-align: right;
}

.newsletter * {
  background-color: #dd5964;
  color: #fcedc9;
  width: 95%;
  margin: 2.5%;
  padding: 1vh;
  border-radius: 10px;
}

.featured {
  margin-top: 2vh;
}
.featured h3 {
  text-align: center;
}
.featured .card {
  margin: 10px;
  background-color: #fff;
  border: none;
  opacity: 70%;
  align-items: center;
  height: 30vh;
  width: 100%;
}
.featured .card:hover {
  opacity: 100%;
}
.featured .card .card-title {
  text-align: center;
  margin-top: 2.5vh;
  font: 400 20px/1.2 "Mukta", sans-serif;
  color: #40373a;
}
.featured .card .card-img-top {
  border-radius: 0%;
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.featured .card .card-text {
  font: 300 16px/1.2 "Mukta", sans-serif;
  object-fit: cover;
  align-content: center;
}
.featured .card .card-body {
  padding: 0 2vh;
}
.featured .card .bottom {
  color: #319ea2;
  font: 300 16px/1.2 "Mukta", sans-serif;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-bottom: 10px;
}

.sections {
  color: #33b8b8;
}
.sections h3 {
  text-align: center;
}

.about {
  background-image: linear-gradient(to right, #f68e86, #88d5cd);
}

.blog .header {
  background-image: linear-gradient(to right, #9e4450, #88d5cd, #319ea2);
}
.blog .btn-outline-primary {
  border-color: #319ea2;
  color: #319ea2;
  margin: 3vh 0 5vh 0;
}
.blog .btn-check:checked + .btn-outline-primary {
  background-color: #319ea2;
  border-color: #319ea2;
  color: #fcedc9;
}
.blog .btn-check:hover + .btn-outline-primary {
  background-color: #319ea2;
  border-color: #319ea2;
  color: #fcedc9;
}
.blog .card {
  margin: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #319ea2;
  opacity: 70%;
  align-items: center;
  height: 95%;
  width: 100%;
}
.blog .card:hover {
  opacity: 100%;
}
.blog .card .card-title {
  text-align: center;
  margin-top: 2.5vh;
  font: 400 20px/1.2 "Mukta", sans-serif;
  color: #40373a;
}
.blog .card .card-img-top {
  border-radius: 0%;
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.blog .card .card-text {
  font: 300 16px/1.2 "Mukta", sans-serif;
  object-fit: cover;
  height: 60%;
  align-content: center;
}
.blog .card .card-body {
  padding: 0 2vh;
}
.blog .card .bottom {
  color: #319ea2;
  font: 300 16px/1.2 "Mukta", sans-serif;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-bottom: 10px;
}

.shop .header {
  background-image: linear-gradient(to right, #319ea2, #f68e86, #9e4450);
}
.shop .card {
  margin: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #9e4450;
  opacity: 70%;
  align-items: center;
  height: 95%;
  width: 95%;
}
.shop .card:hover {
  opacity: 100%;
}
.shop .card .card-title {
  text-align: center;
  margin-top: 2.5vh;
  font: 400 20px/1.2 "Mukta", sans-serif;
  color: #40373a;
}
.shop .card .card-img-top {
  border-radius: 0%;
  width: 100%;
  height: 50%;
  object-fit: cover;
  background-color: #f68e86;
}
.shop .card .card-text {
  font: 300 16px/1.2 "Mukta", sans-serif;
  object-fit: cover;
  height: 60%;
  align-content: center;
}
.shop .card .card-body {
  padding: 0 2vh;
}
.shop .card .bottom {
  color: #9e4450;
  font: 300 16px/1.2 "Mukta", sans-serif;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-bottom: 10px;
}
.shop .btn-outline-primary {
  border-color: #9e4450;
  color: #9e4450;
  margin: 0;
}
.shop .btn-check:checked + .btn-outline-primary {
  background-color: #9e4450;
  border-color: #9e4450;
  color: #fcedc9;
}
.shop .btn-check:hover + .btn-outline-primary {
  background-color: #9e4450;
  border-color: #9e4450;
  color: #fcedc9;
}
.shop #sort * {
  display: inline;
  width: 50%;
}
.shop .control {
  margin: 3vh 0 3vh 0;
  line-height: 3;
}

.item h1 {
  text-align: center;
  margin: 5vh;
}
.item .number-display {
  width: 50px;
}
.item form svg {
  margin: 5px;
}
.item .item-image img {
  width: 100%;
  margin-bottom: 3vh;
}
.item .quantity-display {
  display: inline;
}
.item .quantity-display input {
  width: 2vh;
}
.item .submit input {
  background-color: #dd5964;
  border-color: #9e4450;
}
.item .submit input:hover {
  background-color: #f68e86;
}
.item .submit input:active {
  background-color: #9e4450;
}
