// Variables

// Fonts
$font-text-light: 200 20px/1.2 'Mukta', sans-serif;
$font-text: 300 20px/1.2 'Mukta', sans-serif;
$font-text-bold: 400 20px/1.2 'Mukta', sans-serif;
$font-text-thick: 700 25px/1.2 'Mukta', sans-serif;

$font-text-small: 300 16px/1.2 'Mukta', sans-serif;

$font-title-light: 300 30px/1.5 'Roboto', sans-serif;
$font-title: 400 30px/1.5 'Roboto', sans-serif;
$font-title-bold: 500 30px/1.5 'Roboto', sans-serif;
$font-title-large: 700 45px/2 'Roboto', sans-serif;

// Colors
$color-warm-light: #f68e86;
$color-warm: #dd5964;
$color-warm-dark: #9e4450;

$color-cool-light: #88d5cd;
$color-cool: #33b8b8;
$color-cool-dark: #319ea2;

$color-text: #40373a;
$color-background: #fcedc9;
$color-white: #fff;

// Style

//Theme
* {
    h1 {
        font: $font-title-bold;
    }
    
    h2 {
        font: $font-title-large;
        font-style: oblique;
        margin: 0;
    }
    
    h3 {
        font: $font-text-thick;
        margin: 0 0 3vh 0;
    }
    
    p {
        font: $font-text-light;
        color: $color-text;
    }

    a {
        text-decoration: none;
        font: $font-text-bold;
        color: $color-warm;
        transition: color 0.2s ease-in-out;
    
        &:hover {
            color: $color-warm-light;
            transition: color 0.2s ease-in-out;
        }
    }

    .tag {
        text-align: center;
    }

    .card {
        margin: 0px;
        background-color: rgba(0,0,0,0);
        border: none;
        border-radius: 1vh;
        opacity: 70%;
        align-items: center;
        transition: opacity 0.2s ease-in-out;
        padding: 0;
        overflow: hidden;
    
        &:hover {
            opacity: 100%;
            transition: opacity 0.2s ease-in-out;
        }
    
        .card-title {
            text-align: center;
            margin-top: 3vh;
            font: $font-text-thick;
        }
    
        .card-img-top {
            border-radius: 50%;
            width: 70%;
        }
    
        .card-text {
            font: $font-text-small;
            margin: 0.5vh;
        }
    }
    
    .header {
        display: block;
        position: relative;
        margin-bottom: 3vh;
        color: $color-background;
        min-height: 20vh;
    
        h2 {
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 25%;
        }
    }

    .loading {
        position: relative;

        .FadingBalls_fading-balls__1483H {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        p {
            padding-top: 8vh;
            font: $font-text-bold;
            color: $color-warm-light;
        }
    }

}

//UI

.App {
    background-color: $color-background;
    font: $font-text;
    color: $color-warm;
}

.content {
    margin-top: 40px;
    background-color: $color-background;
}

.sidebar {
    box-sizing: border-box;
    border-top: 40px solid $color-cool-dark;
    padding-top: 6vh;

    .nav-link {
        text-decoration: none;
        font: $font-text-bold;
        color: $color-background;
        background-color: $color-warm;
        padding: 2vh 8vh 2vh 3vh;
        filter: brightness(100%);
        transition: filter .2s ease-in-out;
    
        &:hover {
            filter: brightness(90%);
            transition: filter .2s ease-in-out;
        }

        p {
            text-decoration: none;
            font: $font-text-thick;
            color: $color-background;
            margin: 0;
        }
    }

}

.sidebarButton {
    position: fixed;
    display: absolute;
    width: 36px;
    height: 40px;
    top: 0;
    left: 0;
    background-color: $color-cool-dark;
    border: none;
    padding: 0;
    color: $color-text;
    z-index: 4;

    * {
        color: $color-white;
    }
}

.toolbar {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 4;
    padding-left: 36px;
    padding-right: 3%;
    background-color: $color-cool-dark;
    height: 40px;
    width: 100%;
    color: $color-white;
    font-size: 22px;
    text-align: right;

    * {
        display: inline;
    }
}

.cart-wrapper {
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 4;
    background-color: $color-cool-light;
    width: 40vh;

    .cart-body {
        background-color: $color-background;
        color: $color-text;
        margin: 1vh;
        padding: 1vh;

        .cart-title {
            text-align: left;
            justify-content: space-between;
        }

        .cart-quantity {
            text-align: center;
            border-left: 1px solid $color-cool-light;

            form {
                svg {
                    margin: 0 5px;
                    color: $color-warm;
                }

                input {
                    width: 50px;
                }
            }
        }

        .cart-summary {
            font: $font-text-small;
            margin-top: 5px;
        }
        
        p {
            margin: 0;
        }
    }
}

//Components

.splash {
    display: block;
    position: relative;
    margin-bottom: 3vh;
    background-image: radial-gradient($color-cool-light, $color-cool-dark);
    color: $color-background;
    min-height: 60vh;

    h2 {
        margin: 0;
        padding: 0;
        line-height: 40px;
        text-align: right;
    }
}

.newsletter {  

    * {
        background-color: $color-warm;
        color: $color-background;
        width: 95%;
        margin: 2.5%;
        padding: 1vh;
        border-radius: 10px;
    }
}

.featured {
    margin-top: 2vh;

    h3 {
        text-align: center;
    }

    .card {
        margin: 10px;
        background-color: $color-white;
        border: none;
        opacity: 70%;
        align-items: center;
        height: 30vh;
        width: 100%;
    
        &:hover {
            opacity: 100%;
        }
    
        .card-title {
            text-align: center;
            margin-top: 2.5vh;
            font: $font-text-bold;
            color: $color-text;
        }
    
        .card-img-top {
            border-radius: 0%;
            width: 100%;
            height: 50%;
            object-fit: cover;
        }
    
        .card-text {
            font: $font-text-small;
            object-fit: cover;
            align-content: center;
        }

        .card-body {
            padding: 0 2vh;
        }
        
        .bottom {
            color: $color-cool-dark;
            font: $font-text-small;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, -50%);
            text-align: center;
            margin-bottom: 10px;
        }
    }
}

.sections {
    color: $color-cool;

    h3 {
        text-align: center;
    }
}

.about {
    background-image: linear-gradient(to right, $color-warm-light, $color-cool-light);
}

.blog {
    .header {
        background-image: linear-gradient(to right, $color-warm-dark, $color-cool-light, $color-cool-dark);
    }

    .btn-outline-primary {
        border-color: $color-cool-dark;
        color: $color-cool-dark;
        margin: 3vh 0 5vh 0;
    }

    .btn-check:checked+.btn-outline-primary {
        background-color: $color-cool-dark;
        border-color: $color-cool-dark;
        color: $color-background;
    }

    .btn-check:hover+.btn-outline-primary {
        background-color: $color-cool-dark;
        border-color: $color-cool-dark;
        color: $color-background;
    }

    .card {
        margin: 10px;
        background-color: rgba(0,0,0,0);
        border: 1px solid $color-cool-dark;
        opacity: 70%;
        align-items: center;
        height: 95%;
        width: 100%;
    
        &:hover {
            opacity: 100%;
        }
    
        .card-title {
            text-align: center;
            margin-top: 2.5vh;
            font: $font-text-bold;
            color: $color-text;
        }
    
        .card-img-top {
            border-radius: 0%;
            width: 100%;
            height: 50%;
            object-fit: cover;
        }
    
        .card-text {
            font: $font-text-small;
            object-fit: cover;
            height: 60%;
            align-content: center;
        }

        .card-body {
            padding: 0 2vh;
        }
        
        .bottom {
            color: $color-cool-dark;
            font: $font-text-small;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, -50%);
            text-align: center;
            margin-bottom: 10px;
        }
    }

}

.shop {
    .header {
        background-image: linear-gradient(to right, $color-cool-dark, $color-warm-light, $color-warm-dark);
    }
    .card {
        margin: 10px;
        background-color: rgba(0,0,0,0);
        border: 1px solid $color-warm-dark;
        opacity: 70%;
        align-items: center;
        height: 95%;
        width: 95%;
    
        &:hover {
            opacity: 100%;
        }
    
        .card-title {
            text-align: center;
            margin-top: 2.5vh;
            font: $font-text-bold;
            color: $color-text;
        }
    
        .card-img-top {
            border-radius: 0%;
            width: 100%;
            height: 50%;
            object-fit: cover;
            background-color: $color-warm-light;
        }
    
        .card-text {
            font: $font-text-small;
            object-fit: cover;
            height: 60%;
            align-content: center;
        }

        .card-body {
            padding: 0 2vh;
        }
        
        .bottom {
            color: $color-warm-dark;
            font: $font-text-small;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, -50%);
            text-align: center;
            margin-bottom: 10px;
        }
    }

    .btn-outline-primary {
        border-color: $color-warm-dark;
        color: $color-warm-dark;
        margin: 0;
    }

    .btn-check:checked+.btn-outline-primary {
        background-color: $color-warm-dark;
        border-color: $color-warm-dark;
        color: $color-background;
    }

    .btn-check:hover+.btn-outline-primary {
        background-color: $color-warm-dark;
        border-color: $color-warm-dark;
        color: $color-background;
    }

    #sort * {
        display: inline;
        width: 50%;
    }

    .control {
        margin: 3vh 0 3vh 0;
        line-height: 3;
    }
}

.item {

    h1 {
        text-align: center;
        margin: 5vh;
    }

    .number-display {
        width: 50px;
    }

    form svg {
        margin: 5px;
    }

    .item-image img {
        width: 100%;
        margin-bottom: 3vh;
    }

    .quantity-display {
        display: inline;

        input {
            width: 2vh;
        }
    }

    .submit {
        input {
            background-color: $color-warm;
            border-color: $color-warm-dark;
        }        

        input:hover {
            background-color: $color-warm-light;
        }
        
        input:active {
            background-color: $color-warm-dark;
        }
    }
}