.App {
  background-color: #fcedc9;
  font: 300 20px/1 "Mukta", sans-serif;
  color: #9e4450;
}

h1 {
  font: 700 40px/2 "Roboto", sans-serif;
  color: #dd5964;
}

h3 {
  font: 700 25px/1 "Mukta", sans-serif;
  color: #dd5964;
}

.sidebar {
  box-sizing: border-box;
  border-top: 32px solid #319ea2;
}

.sidebarButton {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #319ea2;
  border: none;
  padding: 0;
  color: #40373a;
  z-index: 2;
}
.sidebarButton * {
  color: #fcedc9;
}

.splash {
  width: 100%;
  min-height: 70%;
  background-color: #33b8b8;
}
