:export {
  colorWarmLight: #ffb5b7;
  colorWarm: #dd5964;
  colorWarmDark: #9e4450;
  colorCoolLight: #88d5c2;
  colorCool: #33bb99;
  colorCoolDark: #31a280;
  colorText: #40373a;
  colorBackground: #fcedc9;
  colorWhite: #fff;
}
